/**
 * Boxes
 * - Boxes make up one unit of content within the UI
 */

@include keyframes(slide) {
  0% {
    @include translateX($ui-spacing * -2);
  }
  50% {
    @include translateX($ui-spacing * 4);
  }
  100% {
    @include translateX($ui-spacing * -2);
  }
}

img.swipe {
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $ui-spacing;
  display: block;
  @include animation(slide 5s infinite);
}

.box {
  @include clearfix;
  margin: $ui-spacing;
  padding: $ui-spacing;
  border: 1px solid #DDD;
  border-radius: 5px;
  background: #fff;

  img {
    max-width: 200px;
    max-height: 200px;
    float: left;
    margin-right: 1em;

    &.save-to-desktop {
      float: none;
    }

    &.thanks {
      max-width: none;
      max-height: none;
      width: 100%;
      float: none;
      margin-right: none;
    }
  }

  h2 {
    font-size: 1.6em;
    font-weight: 700;
  }

  &.headline {
    margin: 0;
    border: 0;
    border-radius: 0;
    background: $color-fk;
    color: white;

    #{headings()} {
      color: white;
      font-family: $bryant;
    }

    a { color: white; }
  }

  .prev,
  .next {
    padding: 0.3em 0.6em;
    border: 1px dotted #ddd;
    background-color: #eee;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.7em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #666;

    &:hover {
      background-color: #ddd;
      border-color: #ccc;
    }
  }
  .prev {
    float: left;
  }
  .next {
    float: right;
  }
}
