/**
 * Boxes
 * - Boxes make up one unit of content within the UI
 */

.box {
  @include clearfix;
  margin: $ui-spacing;
  padding: $ui-spacing;
  border: 1px solid #DDD;
  border-radius: 5px;
  background: #fff;

  img {
    max-width: 200px;
    max-height: 200px;
    float: left;
    margin-right: 1em;

    &.logo {
      max-width: 100%;
      max-height: none;
    }

    &.thanks {
      max-width: none;
      max-height: none;
      width: 100%;
      float: none;
      margin-right: none;
    }
  }

  h2 {
    font-size: 1.6em;
    font-weight: 700;
  }

  &.headline {
    margin: 0;
    border: 0;
    border-radius: 0;
    background: $color-fk;
    color: white;

    #{headings()} {
      color: white;
      font-family: $bryant;
    }

    a { color: white; }
  }
}
