/**
 * Table of contents partial.
 */
#menu {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: white;

  &>div {
    @extend .clearfix;
  }

  .menu-wrapper {
    display: none;
    h3 {
      font-family: $bryant;
      padding: ($ui-spacing / 2) $ui-spacing ($ui-spacing / 4) $ui-spacing;
      border-bottom: 1px solid #999;
    }
  }
  .menu-handles {
    padding: ($ui-spacing / 2) $ui-spacing;
    float: right;

    ul {
      @extend .listreset;

      // Build individual buttons. NOTE: These are li's, not a's!
      .handle {
        padding: 0.3em 0.6em;
        border: 1px dotted #ddd;
        background-color: #eee;
        border-radius: 3px;
        cursor: pointer;
        font-size: 0.7em;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #666;

        &:hover {
          // I know, it's for touch, but just in case:
          background-color: #ddd;
          border-color: #ccc;
        }
      }
    }
  }

  #toc {
    @extend .listreset;
    li {
      display: block;
      padding: ($ui-spacing / 2) $ui-spacing;
      border-bottom: 1px dotted #ddd;

      a { text-decoration: none; }
    }
  }
}
