/**
 * Sections
 * A section is a "page" of content within the UI
 */

#page > section {
  padding-bottom: 2 * $ui-spacing;
}

.sections {
  overflow: hidden;
  section {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
  }
}
