<div class="box headline">
  <h2>Howdy, CGAP!</h2>
</div>
<div class="box">
  <h3>Microfinance Gateway proposal</h3>

  <p>This is a mobile-friendly, responsive, touch-enabled version of our
  proposal. We wanted to demonstrate how we use open-source technologies to
  present information in new and interesting ways. If you prefer, you can always
  <a href="">download the PDF version of our proposal</a>.</p>

  <p><b>Enjoy!</b> (And swipe to continue...)</p>
</div>
<img class="swipe" src="/assets/images/swipe.svg" />