<div class="box headline">
  <h2>Let&rsquo;s cut to the chase</h2>
</div>

<div class="box">
  <p>We know you&rsquo;re reading a lot of these, and judging by the heft of our
    own proposal, it&rsquo;s not an easy job. So to make this process easier for
    you, we&rsquo;d like to pare down the key facts into a single, handy-dandy
    page.</p>

  <p class="callout">Our vision: Reinforce the Microfinance Gateway&rsquo;s position
    as the most comprehensive web resource for the global microfinance community
    by designing a site worthy of international attention.</p>

  <p>As an interactive hub of information exchange, the new Microfinance Gateway
    site will be an invaluable resource for those involved in the microfinance
    community, empowering all with relevant, timely, and actionable knowledge.
    Four Kitchens will work closely with CGAP to design the information architecture,
    wireframes, user experience across all devices, and technical and nontechnical 
    requirements for merging the four Gateway sites into a single Drupal platform
    and database, all while allowing editorial independence for the regional sites, 
    supporting existing languages, and laying a strong foundation to easily
    expanding language support in the future.</p>

  <p class="callout">We at Four Kitchens are very excited about this project!</p>

  <p>The user-centric, responsive design and multilingual challenges facing the
    new Microfinance Gateway site is exactly the rich blend of strategy-based
    solutions, technical innovation, and social good we thrive on. Like you, we
    are passionate idealists. Four Kitchens&rsquo; stated mission is to change
    the world by setting knowledge free. We do this by working with open-source
    software, contributing back to open-source and free-culture communities, and
    choosing projects that further the spread of knowledge and ideas. The Microfinance
    Gateway is precisely the kind of project that excites us: It&rsquo;s utilizing
    open-source technologies to free knowledge that will change the world.</p>

  <p>We share your bold and ambitious vision for this project, and we hope to
    forge a long-term partnership in innovation with CGAP&rsquo;s Microfinance Gateway.</p>

  <h3>Cost</h3>

  <p>The cost, while fixed in nature, is informed by the estimated time and
    resources we feel will be required to produce a comprehensive plan (technical
    requirements and detailed design) for the new site that will meet our standards
    and your expectations. It includes all planning, work, and communication
    necessary to complete the project as specified in this proposal.</p>

  <p>Total cost of project = $115,000.</p>

  <p>We will work within your budget to deliver an excellent design that meets
    your most critical needs.</p>
</div>
