<div class="box headline">
  <h2>About Four Kitchens</h2>
</div>

<div class="box">

  <p class="callout">We are one of the world&rsquo;s premier open-source
    consulting firms</p>

  <p><a href="http://www.fourkitchens.com/">Four Kitchens</a> is a design and
    development consultancy in Austin, Texas, that makes big websites using
    open-source software. We serve a sophisticated and specialized clientele
    looking for a trusted, skilled partner to realize and exceed their goals. We
    do it all: Design, usability, information and systems architecture, development,
    and project management are all handled in-house by our talented team of Web
    Chefs. Four Kitchens' reputation as a leader in the open-source community
    has earned us invitations to train and speak at numerous conferences around
    the world.</p>

  <p>The Four Kitchens Web Chefs believe that building a website is like preparing
    a feast: It requires a team of people with specialized and complementary
    skills working in parallel to create something that lots of people will
    enjoy. It's part art, part science, and all about preparation.</p>

  <h3>The Way of the Web Chef</h3>

  <p>Four Kitchens is guided wholeheartedly by a strong set of values that
    we&rsquo;ve deemed The Way of the Web Chef. These values describe and inform
    who we are, what we do, and how we work.</p> 

  <ol>
    <li>Exemplify transparency and honesty.</li>
    <li>Create solutions with people and goals in mind.</li>
    <li>Embrace change.</li>
    <li>Lead and contribute to open-source communities.</li>
    <li>Collaborate.</li>
  </ol>

  <p class="callout">We work almost exclusively with open-source projects</p>

  <h3>Our mission: Change the world by setting knowledge free</h3>

  <p>We firmly believe in the power of open source, collaboration, and communities.
    Contributing code and expertise to open-source projects results in better and
    cheaper software for our clients. Vibrant open-source communities are
    constantly improving and testing their software, which lowers development and
    maintenance costs and improves security and stability. Our clients recognize
    this value, and it's resulted in millions of dollars saved by eliminating
    licensing fees, service contracts, and work spent &quot;reinventing the
    wheel.&quot;</p>

  <h3>Our services</h3>

  <p>We do it all: Design, usability, information and systems architecture,
    development, and project management are all handled in-house by our talented
    team of Web Chefs.</p>

  <ul>
    <li><em>Strategy:</em> We help realize your vision &mdash; or create one for you.</li>
    <li><em>Design &amp; UX:</em> We create beautiful, user-friendly interfaces.</li>
    <li><em>Mobile:</em> We build responsive websites for all devices.</li>
    <li><em>Development:</em> We make wild ideas a reality.</li>
    <li><em>Systems architecture:</em> We engineer scalable websites and workflows.</li>
    <li><em>Agile process:</em> We embrace change to keep pace with technology.</li>
    <li><em>Training:</em> We teach you and your team to be experts, too.</li>
    <li><em>Community outreach:</em> We foster open-source projects and communities.</li>
  </ul>

  <h3>Our clients</h3>

  <p class="callout">We help our clients design and develop some of the
    internet&rsquo;s largest websites</p>

  <p>Four Kitchens' clients include <em>The Economist</em>, Yale University,
    Stanford University, Al Jazeera, Royal Mail, Capgemini, Expeditionary
    Learning, Revolution Analytics, SXSW, <em>Time Out New York</em>, Major
    League Soccer, Lifetime TV, FastCompany.com, Causecast, the Wikimedia
    Foundation, and the Internet Archive.</p>

  <p>Here are some highlights from our recent projects:</p>

  <ul>
    <li>Four Kitchens collaborated with the <a href="http://icann.org/">Internet
      Corporation for Assigned Names and Numbers (ICANN)</a> to relaunch in early
      2012, transforming their original, static collection of pages into a
      multilingual, responsive Drupal 7 website. This involved a massive migration
      from static files to multilingual Drupal 7 nodes with 0% link rot, as well
      as a fully responsive design.</li>

    <li>During the uprising against Egyptian President Mubarak, Al Jazeera provided
      perhaps the best news coverage of the events. As a result, traffic to their
      website increased dramatically, nearly shutting it down several times over
      the span of a few days. We were called in to ensure the site remained live
      so that news from Egypt could reach an international audience. Thanks to
      the all-night efforts of Four Kitchens' web chefs, the Al Jazeera English
      website was able to handle the traffic and continue delivering the dramatic
      news coverage worldwide.</li>

    <li>Four Kitchens' web chefs have been an integrated part of <em>The Economist</em>
      online team since 2008, replacing fragile, hard-to-maintain legacy systems
      with modern content-management and development workflows. We have worked on
      all aspects of the site, from infrastructure design to code reviews. This
      large project has involved migrating their 80,000-article archive, 497,000
      comments, and 3,600,000 users from a custom, Cold Fusion-based CMS;
      developing a custom homepage creation tool and a dynamic, scalable topics
      aggregation system; and third-party vendor integration including newsletter
      management and search features.</li>

    <li>We created the contribution processing and tracking systems for the Wikimedia
      Foundation, the parent organization of Wikipedia. During fundraisers, every
      page of every Wikimedia project prominently links to this system. Wikimedia's
      infrastructure currently serves 100,000 requests per second, and a significant
      number of visitors click on the fundraising banners to view or make donations.</li>

    <li>We developed Training Wheels, an open source project that allows technology
      instructors to easily set up and manage development sandboxes for students.
      Training Wheels is a project initiated at Four Kitchens out of our own
      experiences producing curricula for professional training at technology
      conferences around the world. We recently launched a companion site to
      educate the community about Training Wheels and build buzz about our upcoming
      launch. The site&rsquo;s branding, positioning, design and development were
      completely created by the Four Kitchens team. As a result,
      <a href="http://gettrainingwheels.org/">gettrainingwheels.org</a> is a fully
      responsive site, featuring the latest best practices in responsive web
      development.</li>

    <li>We provide infrastructure consulting to the Internet Archive on their
      central metadata system, which stores attributes and access statistics for
      all items in their massive, multi-datacenter archives. We also contribute
      to the Open Library project, which tracks data on most books published
      (and aims to track data on every book published, ever).</li>
  </ul>
</div>