<div class="box headline">
  <h2>Project vision</h2>
</div>

<div class="box">
  <p><strong>We believe CGAP and the Microfinance Gateway can advance financial
    knowledge and access across the globe, ultimately lifting people out of
    poverty.</strong> As an interactive hub of information exchange, the future
    site will be an invaluable resource for those involved in the microfinance
    community, empowering all with relevant, timely, and actionable knowledge.</p>
  
  <p>Four Kitchens will work closely with CGAP to design the information
    architecture, wireframes, user experience across all devices, and technical
    and nontechnical requirements for merging the four Gateway sites into a single
    Drupal platform and database, all while allowing editorial independence for
    the regional sites, supporting existing languages, and laying a strong
    foundation to easily expanding language support in the future. To achieve
    this, our work will focus on the following goals:</p>
  
  <ol>
    <li><strong>Strengthen the libraries</strong> by designing better interfaces
      and editorial workflows for adding and editing content.</li>

    <li><strong>Reframe the jobs and events offerings</strong> by increasing user
      engagement. This can be achieved by allowing users and organizations to
      create accounts &mdash; perhaps allowing users to affiliate themselves with
      organizations &mdash; and set alerts for specific types of jobs and events
      postings.</li>

    <li><strong>Unify the disparate language sites</strong> into a single,
      multilingual site that will be able to accommodate new languages as the
      organization continues to grow.</li>

    <li><strong>Grow community engagement</strong> by adding content recommendation
      and sharing tools, as well as social media integration. While these tactics
      will help increase traffic, we need to create an excellent and engaging user
      experience that will keep visitors on the site (as measured by time spent
      on the site or number of pageviews per session). This can be achieved, in
      part, by creating a mobile-first, responsive design that works on all devices.
      As more people use phones and tablets as their primary browsing and reading
      tools &mdash; often leaving their laptops on the couch next to them, unopened
      &mdash; sites must provide an excellent mobile experience, or visitors will
      quickly grow annoyed with a site and move on.</li>

    <li><strong>Strengthen search and content discoverability</strong> by adding
      a robust, multilingual taxonomy, browsing by content type or topic, and
      excellent keyword and faceted search functionality across all languages.</li>
  </ol>
  
  <p class="callout">This is exactly the kind of project we&rsquo;re looking for</p>
  
  <p><strong>We at Four Kitchens are very excited about this project!</strong> The
    user-centric, responsive design and multilingual challenges facing the new
    Microfinance Gateway site is exactly the rich blend of strategy-based solutions,
    technical innovation, and social good we thrive on. </p>
  
  <p><strong>Like you, we are passionate idealists.</strong> Four Kitchens&rsquo;
    mission is to change the world by setting knowledge free. We do this by
    working with open-source software, contributing back to open-source and
    free-culture communities, and choosing projects that further the spread of
    knowledge and ideas. <strong>The Microfinance Gateway is precisely the kind
    of project that excites us:</strong> It&rsquo;s utilizing open-source
    technologies to free knowledge that will change the world.</p>
  
  <p>We share your bold and ambitious vision for this project, and we hope to
    forge a long-term partnership in innovation with CGAP&rsquo;s Microfinance
    Gateway.</p>
</div>