<div class="box headline">
  <h2>Project scope</h2>
</div>

<div class="box">
  <h3>Functionality review and discovery</h3>
  
  <p><strong>We are thrilled that preliminary analysis and discovery is an
  outright goal of this engagement!</strong> It&rsquo;s clear you understand the
  value of review and discovery prior to beginning a large project. Like you, we
  at Four Kitchens are big believers in the value of an in-depth research and
  discovery process to identify the goals, requirements, audiences, and success
  criteria for a project. Doing so is critical and will ultimately save money
  and yield a better product.</p>
  
  <p>During review and discovery, we will think critically about your goals and
  challenge your assumptions. In other words, we won&rsquo;t simply take a list
  of features and go &ldquo;do.&rdquo; Instead, we are going to think thoroughly
  about each request and ensure we approach it a way that best addresses your
  mission and goals so that it is implemented in the most effective manner
  possible.</p>
  
  <p>Our discovery process is a lot of fun &mdash; and enlightening, too. We
  have traveled far and wide to lead in-person workshops and facilitate
  conversation between stakeholders. After years of working with many diverse
  organizations, industries, and projects, we have developed a portfolio of
  interactive brainstorming exercises designed to reach a collective
  understanding of challenges, goals, and priorities.</p>
  
  <p>Meanwhile, we will perform an in-depth technical and functional audit of
  your existing websites, systems, and architecture. This will involve a review
  of your sites&rsquo; code, content, analytics, and usage patterns, as well as
  interviews with key users and stakeholders.</p>
  
  <p>When the discovery exercises and our technical review are complete, we will
  consolidate our findings into thorough technical and nontechnical
  recommendations that will inform the design and architecture of the new
  site.</p>

  <h3>Wireframes and user interface design</h3>
  
  <p>While web design has experienced drastic shifts in process over the last
  few years, we still believe that wireframes are the most crucial element of
  user interface design. It is during this process that stakeholders, designers,
  and developers can most effectively collaborate to come to a unified vision of
  the project. And, due to the simple nature of wireframes, it provides the best
  opportunity to experiment and iterate on ideas.</p>
  
  <p>Wireframes are also where the intersection of information architecture,
  content strategy, and behavior analytics come to life. We are excited by the
  challenge of unifying the architecture of the Gateway&rsquo;s regional sites
  while also rethinking the visual layout to provide visitors with an easy-to-
  navigate experience that is also mobile-friendly. Additionally, we believe in
  enriching the experience for editors and admins to make their tasks easier.
  Too many times in Drupal projects, these personas are ignored, yet we&rsquo;re
  convinced that a good editorial experience adds value to every aspect of the
  site. We will work closely with your staff to understand their pain points and
  create solutions customized to their needs.</p>

  <h3>Responsive design</h3>
  
  <p>We are very excited you have chosen to go with a responsive design for this
  project. Mobile-friendly design is responsible design, and this is baked into
  our values at Four Kitchens.</p>
  
  <p>There are three main components to our approach for a responsive design project:</p>
  
  <ul> <li><strong>While a good responsive site should strive to be device-
    agnostic, it should be build according to the mobile-first design
    philosophy.</strong> This means thinking about content and layout first from
    the perspective of what mobile/smartphone users will see, then adapting this
    content for other use cases like desktop and tablet users. Because of the
    constrained screen real estate on smartphones, this forces you to pare down
    your copy and focus your message (always a good thing). This also means that
    as the site scales up to larger screens, you still have a focused message,
    but you have more room to use visual elements to enrich the experience.</li>

    <li><strong>Design in terms of proportions, not pixels.</strong> There are
    entirely too many device screen sizes to optimize for, not to mention the
    increased presence of high-density &ldquo;retina&rdquo; displays, which
    essentially throw the idea of a &ldquo;pixel&rdquo; on its head. Instead, we
    treat the individual page elements (like slideshows and images) as flexible
    components that can expand or contract depending on the available screen
    real estate.</li>

    <li><strong>Provide the user with the most value while retaining key
    messaging and access to content.</strong> A progressive enhancement approach
    help achieve this from the technical sides of things &mdash; architecting
    the underlying web technologies in a way that allows everyone to access the
    essential content and functionality of the site. In other words, we&rsquo;re
    thinking beyond just screen size, and ensuring the user experience can adapt
    to to situation like older browsers and limited bandwidth.</li>
  
  </ul>
  
  <p>We don&rsquo;t just love responsive design &mdash; we&rsquo;ve mastered it.
  Our team has been the go-to resource for responsive design training in the
  Drupal community, conducting day-long classes at DrupalCon Denver, DrupalCon
  Munich, BADcamp (2011 and 2012), and DrupalCamp Austin. Each time we&rsquo;ve
  offered the class, it sold out before any other class and received glowing
  feedback from attendees.</p>
  
  <h3>Technical requirements definition and documentation</h3>
  
  <p>After performing the functionality review and discovery phase, we will
  apply our technical expertise to arrive at clear, easy-to-understand
  recommendations for reaching project success. Just as we encourage and employ
  user-centric design, we write requirements with our audience in mind: easily
  comprehensible by all, regardless of their technical background.</p>
  
  <p>We recognize the following functionality as key elements of the
  comprehensive requirements.</p>

  <h4>Users content submission</h4>
  
  <p>On a website like the Microfinance Gateway where user-generated content is
  critical, it&rsquo;s paramount that the submission process be as easy to use,
  seamless, and richly featured &mdash; where appropriate, of course! &mdash; as
  possible. The current workflow, which consists of users emailing their
  contributions to the webmaster or using a web form, does not meet these
  objectives and discourages frequent contribution.</p>
  
  <p>To ensure the objectives are met, we will interview or observe content
  generators, editors, and administrators to understand their processes,
  document how they interact with the website, and recommend a set of technical
  solutions that fit the needs of all stakeholders. Providing users with a
  compelling content-submission interface takes more than setting up a simple
  web form. By carefully understanding the pain points of users who are
  submitting and moderating content, we can leverage the vast set of tools at
  our disposal to engineer robust, easy-to-use content-submission workflows.</p>
  
  <p>Beyond simply providing technical solutions, we can recommend best
  practices around user content submission. For instance, we have extensive
  experience working with Drupal&rsquo;s Workbench module to define authoring
  options, set up roles and permissions, and enforce content workflows and
  moderation. This will give you the ability to control who has access to edit
  content based on an organization's structure, and it will give users the
  ability to submit new content and manage their existing content.</p>
  
  <p>Additionally, we have extensive experience handling file attachments in
  content &mdash; specifically, managing files in multiple languages &mdash; and
  publishing user-generated content to multiple content types simultaneously.
  One method is to create a &ldquo;File&rdquo; content type and leverage
  Drupal&rsquo;s built-in internationalization capabilities to create
  &ldquo;translations&rdquo; of those file nodes that contain attachments in
  their respective languages. The English version of a file would have an
  English-language node containing the English-language attachment. This node
  would clearly list all available &ldquo;translations&rdquo;: other nodes that
  contain same file written in other languages (e.g., French, Spanish, Arabic).
  We can further improve user experience by leveraging a module we developed
  called <a href="http://drupal.org/project/attachment_links">Attachment
  Links</a> to create unique, unchanging URLs to each file attachment. This
  mitigates the common problem of Drupal renaming new versions of files as they
  are attached to nodes where a file already exists.</p>

  <h4>Users profile management</h4>
  
  <p>We are cognizant of the fact that users are more likely to interact with a
  website when they are given the ability to control the ways in which they can
  do so. A key component of this objective is to provide users a central place
  to manage various aspects of their interaction, such as the ability to
  subscribe to certain sections of the website, certain content types,
  particular pieces of content, authors, documents belonging to specific
  categories/taxonomies, etc and to tailor the notifications they receive.</p>
  
  <p>Using a combination of built-in Drupal functionality and some modules
  (e.g., <a href="http://drupal.org/project/rules">Triggered Rules</a>, <a
  href="http://drupal.org/project/notifications">Notification</a>, etc.), we can
  outline an easy-to-use profile management interface that enables users to
  tailor the nature of their interaction with the website. The interface can be
  built to not just manage their subscriptions and notifications, but also
  provide a dashboard view of events the user is following/attending, and keep
  track of job openings they may be interested in.</p>

  <h4>Content management and workflow for editors</h4>
  
  <p>With content spread across four distinct websites and a content submission
  workflow that operates via email, Microfinance Gateway stands to significantly
  improve the efficiency of its content management processes. Consolidating
  multiple sites and databases into a single instance is just the beginning: The
  &ldquo;magic&rdquo; is in building a system that unifies the administration,
  yet is still flexible enough for the different region and language sites to
  have their own workflow and editorial independence.</p>
  
  <p>We will leverage our extensive content and site migration experience to
  help define the most cost-effective, efficient, and thorough migration plan
  for the implementation team. Having performed countless migrations and data
  conversions &mdash; The Economist, ICANN, and many others &mdash; we
  understand the complexity of migrating millions of users, comments, and nodes
  across multiple languages, and our experience allows us to avoid the many
  hidden pitfalls along the way (such as link rot, which often happens if you
  don&rsquo;t properly redirect URLs or modify the links embedded in your
  content).</p>
  
  <p>The Drupal <a href="http://drupal.org/project/workbench">Workbench</a>
  module can be leveraged to streamline your content submission and management
  workflows. We have the tools and experience to uncover the human,
  organizational, and technological factors in your editorial processes and make
  recommendations that will improve all aspects of content curation, from the
  user&rsquo;s experience of submitting content to the organization&rsquo;s
  strategy for handling poor-quality or politically sensitive content. Content
  creation and submission is more than technology &mdash; it&rsquo;s about
  people, organizations, and technology working together to create high-quality,
  timely, and relevant material.</p>
  
  <p>We are also very proficient at working with and integrating third-party
  applications and services. We have the know-how to integrate with Teragram,
  and more importantly, we already have experience building robust document
  libraries for other organizations. These libraries contained tens of thousands
  of documents, all served up through elegant interfaces to make browsing and
  searching for documents fast and fun. When combined with our experience with
  multilingual sites and handling multilingual content, we can provide
  expandable solutions to manage documents in any number of languages.</p>

  <h4>Search and content discoverability</h4>
  
  <p>Content is only as good as a user&rsquo;s ability to find it. We at Four
  Kitchens understand what it takes to make your content discoverable by your
  users. Optimizing the experience for site visitors takes a holistic approach
  that goes beyond implementing a stellar search function. A well-organized
  information architecture, intuitive menu structure, and good design all go a
  long way in helping a user discover your content long before they try to
  search.</p>
  
  <p>We can help you design a top-tier search and browse interface. Whether the
  solution requires customization of Drupal&rsquo;s search API, the <a
  href="http://drupal.org/project/apachesolr">Apache SOLR</a> search module, or
  integration with other third-party providers for site-wide search
  functionality, we can provide the expertise needed to deliver a search
  experience that is faceted, and provides a vast array of filters to help the
  user drill down and find exactly what they are looking for. And, of course,
  given our experience working with multilingual websites, we will provide a
  unified search experience that works seamlessly across multiple languages.</p>
  
  <p>In addition, we are also well-versed with using the Drupal <a
  href="http://drupal.org/project/views">Views</a> module to construct search
  and browse interfaces for particular subsections or specific content
  libraries. Such tools often prove invaluable to the user as a way to mine
  through vast content stores, especially when they are looking for broader
  answers rather than searching for a specific item.</p>

  <h4>Community engagement</h4>
  
  <p>A comprehensive approach to enhancing community engagement requires
  attention to both the community of users and contributors of the site, as well
  as the broader community of visitors who are learning about or interested in
  your cause. As such, it is important to provide tools that make contributing
  to the site a fluid experience and to make sharing content as easy as
  possible.</p>
  
  <p>Going beyond the ability to create content, we can provide expertise in
  implementing functionality so that users can rate and recommend content across
  the site, see related content, and share content with external audiences
  through popular social channels.</p>
  
  <h3>Visual design</h3>
  
  <p>Designing the look-and-feel of a website can be a time-consuming process
  due to feedback cycles and iterations. The traditional method of iterating on
  the design using Photoshop comps is a wasteful way to achieve consensus.
  Instead, we begin the development of visual comps with the concept of
  &quot;style tiles,&quot; lightweight designs that express style preferences
  drawn from your own words and indications. They focus our understanding of
  your organization&rsquo;s sensibilities by bringing you into the design
  conversation early so that your preferences can steer the process most
  effectively. We&rsquo;ve found that these indicators shorten the distance
  between wireframe and visual design, resulting in significant time
  savings.</p>
  
  <p>The visual design (or &quot;comp&quot;) will represent:</p>
  
  <ul>
    <li>A refined culmination of our in-depth analysis and discovery phase</li>
    <li>The descriptive structure of your site captured by the information
      architecture process</li>
    <li>The functional skeleton of your site provided by the user experience
      design and wireframes</li>
    <li>Your design preferences gleaned from the style tiles</li>
  </ul>
  
  <p>Through each step of the design process, needs are refined, goals are
  discovered, and requirements are clarified. The visual design stands together
  with the other deliverables &mdash; business goals, personas, sitemap,
  wireframes, etc. &mdash; as a comprehensive guide to development throughout
  the project.</p>
  
  <p>We understand your need for the comps to be explicit as possible. Our
  designers will work with your staff and vendors to ensure our comps and style
  guidelines are highly detailed so that they may serve as an effective
  blueprint for the themers and developers of the site.</p>
  
  <p>For more information on our design process, please see the appendix, which
  includes design artifacts (wireframes, style tiles) from our redesign of <a
  href="http://www.icann.org/">ICANN.org</a>.</p>

  <h3>HTML prototypes</h3>
  
  <p>Design artifacts like wireframes and comps are important, but they miss a
  key trait of web design &mdash; interactivity. You can spend a lot of time
  trying to articulate interactive behavior in these deliverables, but nothing
  is going to represent the final product as closely as an actual, clickable
  page. This will be especially valuable in illustrating the behavior of menus,
  buttons, carousels, and forms. While it has been said that you are not
  expecting to receive responsive versions of these prototypes, if time permits,
  we will like to consider this option, as this will be an invaluable resource
  for those building the theme &mdash; to see the resizing of page components
  and the reflow of content in action.</p>
  
  <p>In order to ensure the prototype is representative of the final site, we
  will implement the same set of modern web technologies we include in every
  modern web product we build. These include:</p>
  
  <ul>
    <li><strong>HTML5:</strong> Semantic markup</li>
    <li><strong>CSS3:</strong> Lightweight styling and graphics</li>
    <li><strong>Sass:</strong> Allows CSS to be written more intelligently and efficiently</li>
    <li><strong>Susy:</strong> Responsive grid system</li>
    <li><strong>Web fonts:</strong> Beautiful cross-platform typography</li>
    <li><strong>Modernizr:</strong> Feature detection for browsers to support progressive enhancement</li>
  </ul>
</div>