<div class="box headline">
  <h2>Time and cost estimates</h2>
</div>
<div class="box">

  <h3>Phased approach</h3>
  
  <p>The work will be achieved in a phased, progressive manner. As requested, we
  will first provide a project plan that outlines key milestones and
  deliverables. Then we will perform the functionality review and discovery,
  including the in-person workshop. Next, we will define information
  architecture, including the production of wireframes. Then we will complete
  the technical requirements and, finally, we&rsquo;ll produce the Photoshop
  site templates.</p>
  
  <p>While not part of the SOW, we would be interested in providing ongoing
  consult as the Microfinance Gateway project transitions from this preliminary
  phase to an implementation phase. We would be available to be on-hand to
  answer any questions or provide quality assurance services. Additionally, we
  are experts in the world of platform migration to Drupal and have a lot to
  offer in terms of best practices.</p>

  <h3>Timeline and project management</h3>
  
  <p>We will work to accomplish this effort in eight to ten weeks following the
  contract signing. Obviously, this timeline will be affected by the time it
  takes to receive approvals and acquire results from the usability audit. </p>
  
  <p>We choose to operate in a world that embraces change. As such, we practice
  the Scrum project management methodology, a form of agile development. We use
  short iterations called &quot;sprints,&quot; which are one- or two-week
  intervals repeated throughout the development cycle of each project. Sprints
  allow us to balance our clients' rapidly changing needs with our ability to
  internally focus and complete tasks. Each morning, the team holds a 15-minute
  &quot;daily scrum&quot; meeting to discuss what occurred on the project
  yesterday, what will occur today, and to assess and remove
  &quot;blockers.&quot; We use JIRA (an enterprise issue tracker) and Confluence
  (an enterprise wiki) to collaborate and track all bugs and tasks.</p>
  
  <p>Every scrum team includes a dedicated Scrum Master and a Project Owner. The
  role of the Scrum Master is to serve as the main point of contact for all
  project-related questions, streamline communication, and keep the developers
  and designers on track. We have three Certified Scrum Masters on staff: Suzy
  Bates, our Director of Projects; Andrew Gerdes, our Project Manager; and Leah
  Mason, our Director of Client Relations.</p>
  
  <p>The Project Owner identifies, organizes, and prioritizes project
  requirements into cogent, incremental releases. Though the Project Owner role
  is usually served by the client, it's sometimes necessary for someone on our
  team to take on that role. In those cases, the Project Owner also functions as
  the client's representative on the team, ensuring that development efforts
  stay focused on the client's business goals. Four Kitchens Partners Todd
  Nienkerk and Aaron Stanush are both Certified Scrum Product Owners.</p>
  
  <p>Regardless who takes on the role of Project Owner, we&rsquo;ve found it is
  critical that the client remain highly involved and invested throughout the
  project lifecycle. Our most successful projects are partnerships between us
  and clients who dedicate time to the project on a daily basis, effectively
  manage stakeholders within their organizations, and are empowered to make
  decisions. Projects in which the client is not available, invested, and
  empowered are likely to face budgetary challenges due to high overhead.</p>

  <h3>Cost estimate</h3>
  
  <p>At the beginning of our proposal response effort, we performed a rough,
  back-of-the-envelope estimation of cost. Now, having gained much greater
  clarity around the expectations of the Microfinance Gateway, we have arrived
  at a more refined view of cost. The cost, while fixed in nature, is informed
  by the estimated time and resources we feel will be required to produce a
  comprehensive plan (technical requirements and detailed design) for a new site
  that will exceed your expectations. Our estimate includes all planning, work,
  and communication necessary to complete the project as specified in this
  proposal. </p>
  
  <p style="font-color:red;font-size:3em;font-weight:bold">[INSERT TABLE FROM GOOGLE DOCS]</p>
  
  <p>We recognize this estimate is likely above what CGAP and the Microfinance
  Gateway team is planning to spend. We would like the opportunity to lower this
  estimate by discussing the level of detail expected in each phase of the
  project to identify areas in which we can reduce scope. Doing so may
  significantly reduce the total cost. We are happy to have this discussion
  prior to or during the discovery phase.</p>

  <h3>Travel and on-site work</h3>
  
  <p>We are happy to travel and work on-site to train the Microfinance Gateway
  team, expedite development, and streamline communication. We find on-site work
  to be highly productive and an excellent way to build rapport and a strong,
  long-term relationship with our clients.</p>
  
  <p>The estimate above does not include travel-related expenses such as
  airfare, accommodations, and per diems. We are happy to provide estimates for
  travel-related expenses at CGAP&rsquo;s request.</p>

  <h3>Rates and ongoing work</h3>
  
  <p>We value long-term relationships with our clients and are happy to provide
  ongoing work on a time-and-materials basis. Our rate schedule is listed
  below:</p>
  
  <ul>
    
    <li>$180 standard hourly fee for design, development, project management,
    and general consulting</li>
    
    <li>$220 standard hourly fee for performance, scalability, and systems
    architecture consulting</li>
    
    <li>$240 standard hourly fee for strategic consulting related to technical,
    design, marketing, community engagement, and social media strategy</li>
    
    <li>$90 travel hourly fee</li>
    
  </ul>

</div>