<div class="headline box">
  <h2>Appendix</h2>
</div>

<div class="box">

  <p>In order to give you a better idea of how our design process works, we’ve
  included some assets from our redesign of ICANN.org, the main, public-facing
  website of the Internet Corporation for Assigned Names and Numbers. (ICANN is
  the organization responsible for all domain names and IP addresses on the
  internet.) The project was a massive effort: Analyzing more than 43,000 static
  HTML files in six languages, performing an entire overhaul of the IA, design,
  and multilingual support, and moving the entire property to a responsive
  Drupal 7 website.</p>
  
  <p>If you’d like to learn more about the details of the entire project, we
  presented a case study at DrupalCon Denver 2012 titled “Big websites for small
  screens.”</p>
  
  <!-- Code from Slideshare -->
  <iframe src="http://www.slideshare.net/slideshow/embed_code/13124175" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/fourkitchens/big-websites-for-small-screens-icannorg-case-study" title="Big Websites for Small Screens: ICANN.org Case Study" target="_blank">Big Websites for Small Screens: ICANN.org Case Study</a> </strong> from <strong><a href="http://www.slideshare.net/fourkitchens" target="_blank">Four Kitchens</a></strong> </div>
  <!-- End Slideshare -->

  <p class="question">Slides: <a href="http://4ktch.in/icann-case-study">http://4ktch.in/icann-case-study</a></p>

  <!-- Code from Blip -->
  <iframe src="http://blip.tv/play/AYLwumsC.html?p=1" width="550" height="443" frameborder="0" allowfullscreen></iframe><embed type="application/x-shockwave-flash" src="http://a.blip.tv/api.swf#AYLwumsC" style="display:none"></embed>
  <!-- End Blip -->

  <p class="question">Video: <a href="http://4ktch.in/icann-case-study-video">http://4ktch.in/icann-case-study-video</a></p>
  
  <h3>Wireframes</h3>
  
  <p>The following pages show wireframes for each version of the home page. For
  all major landing pages we created a smartphone, tablet, and desktop version
  to illustrate how elements would shift around on the page depending on the
  user’s browsing device. (In keeping with our mobile-first design philosophy,
  the site also works well on feature phones, which only support text and some
  images.)</p>
  
  (wireframes)

  <h3>Style tiles</h3>
  
  As explained in the “Visual design” section of this proposal, style tiles are
  our preferred method of iterating on the look and feel of the site. In this
  document, the first four pages illustrate the preliminary style tiles that
  explored different design directions based on the ICANN’s desired
  characteristics. The last page in the set, is the final direction we arrived
  at after a few rounds of feedback and iteration.
  
  (style tiles)

  <h3>Screenshots</h3>
  
  These are screenshots taken from the ICANN homepage which show the final
  design as well as how content adapts across smartphones, tablet, and desktop.
  
  (screenshots)

</div>