<div class="headline box">
  <h2>Appendix</h2>
</div>

<div class="box">

  <p>In order to give you a better idea of how our design process works,
  we&rsquo;ve included some assets from our redesign of ICANN.org, the main,
  public-facing website of the Internet Corporation for Assigned Names and
  Numbers. (ICANN is the organization responsible for all domain names and IP
  addresses on the internet.) The project was a massive effort: Analyzing more
  than 43,000 static HTML files in six languages, performing an entire overhaul
  of the IA, design, and multilingual support, and moving the entire property to
  a responsive Drupal 7 website.</p>
  
  <p>If you&rsquo;d like to learn more about the details of the entire project,
  we presented a case study at DrupalCon Denver 2012 titled &ldquo;Big websites
  for small screens.&rdquo;</p>
  
  <p class="question">Slides: <a href="http://4ktch.in/icann-case-study">http://4ktch.in/icann-case-study</a></p>

  <p class="question">Video: <a href="http://4ktch.in/icann-case-study-video">http://4ktch.in/icann-case-study-video</a></p>
  
  <h3>Wireframes, Style Tiles, and Screenshots</h3>
  
  <p>Please see the <a href="/assets/MicrofinanceGatewayAppendix.pdf">Appendix
  PDF</a> to view examples of these items.</p>

</div>