<div class="box">
  <h2 class="c1"><span>About Four Kitchens</span></h2>
</div>
<div class="box">
  <p class="c1"><span class="c9 c6"><a class="c5" href="http://www.fourkitchens.com/">Four Kitchens</a></span><span class="c6">&nbsp;is a design and development consultancy in Austin, Texas, that makes big websites using open-source software. We serve a sophisticated and specialized clientele looking for a trusted, skilled partner to realize and exceed their goals. We do it all: Design, usability, information and systems architecture, development, and project management are all handled in-house by our talented team of Web Chefs. Four Kitchens&#39; reputation as a leader in the open-source community has earned us invitations to train and speak at numerous conferences around the world.</span></p>

  <p class="c15 c1"></p>

  <p class="c1"><span class="c6">Our mission is to change the world by setting knowledge free. We aim to achieve this mission by working with open-source software, engaging free-culture communities, and choosing projects that further the spread of knowledge and ideas.</span></p>

  <p class="c15 c1"></p>

  <p class="c1"><span class="c6">The Four Kitchens Web Chefs believe that building a website is like preparing a feast: It requires a team of people with specialized and complementary skills working in parallel to create something that lots of people will enjoy. It&#39;s part art, part science, and all about preparation.</span></p>

  <h3 class="c1"><span>The Way of the Web Chef</span></h3>

  <p class="c15 c1"></p>

  <ol class="c2" start="1">
      <li class="c4 c1"><span class="c6">Change the world by setting knowledge free.</span></li>

      <li class="c4 c1"><span class="c6">Make work transparent and transferable. Do not &quot;lock in&quot; clients.</span></li>

      <li class="c4 c1"><span class="c6">Deliver the best possible value, even if it means billing less work.</span></li>

      <li class="c4 c1"><span class="c6">Design with people and goals in mind.</span></li>

      <li class="c4 c1"><span class="c6">Embrace change with agile methods and tools.</span></li>

      <li class="c4 c1"><span class="c6">Contribute time, money, and sweat to open-source projects every day.</span></li>

      <li class="c4 c1"><span class="c6">Support and lead web, creative, and business communities.</span></li>

      <li class="c4 c1"><span class="c6">Collaborate, collaborate, collaborate!</span></li>
  </ol>

  <h3 class="c1"><span>Our mission: Change the world by setting knowledge free</span></h3>

  <p class="c1"><span class="c6">We firmly believe in the power of open source, collaboration, and communities. Contributing code and expertise to open-source projects results in better and cheaper software for our clients. Vibrant open-source communities are constantly improving and testing their software, which lowers development and maintenance costs and improves security and stability. Our clients recognize this value, and it&#39;s resulted in millions of dollars saved by eliminating licensing fees, service contracts, and work spent &quot;reinventing the wheel.&quot;</span></p>

  <h3 class="c1"><span>Our services</span></h3>

  <p class="c1"><span class="c6">We do it all: Design, usability, information and systems architecture, development, and project management are all handled in-house by our talented team of Web Chefs.</span></p>

  <p class="c15 c1"></p>

  <ol class="c11" start="1">
      <li class="c4 c1"><span class="c6">Strategy: We help realize your vision &mdash; or create one for you.</span></li>

      <li class="c4 c1"><span class="c6">Design &amp; UX: We create beautiful, user-friendly interfaces.</span></li>

      <li class="c4 c1"><span class="c6">Mobile: We build responsive websites for all devices.</span></li>

      <li class="c1 c4"><span class="c6">Development: We make wild ideas a reality.</span></li>

      <li class="c4 c1"><span class="c6">Systems architecture: We engineer scalable websites and workflows.</span></li>

      <li class="c4 c1"><span class="c6">Agile process: We embrace change to keep pace with technology.</span></li>

      <li class="c4 c1"><span class="c6">Training: We teach you and your team to be experts, too.</span></li>

      <li class="c4 c1"><span class="c6">Community outreach: We foster open-source projects and communities.</span></li>
  </ol>

  <h3 class="c1"><span>Our clients</span></h3>

  <p class="c1"><span class="c6">Four Kitchens&#39; clients include</span> <span class="c3">The Economist</span><span class="c6">, Yale University, Stanford University, Al Jazeera, Royal Mail, Capgemini, Expeditionary Learning, Revolution Analytics, SXSW,</span> <span class="c3">Time Out New York</span><span class="c6">, Major League Soccer, Lifetime TV, FastCompany.com, Causecast, the Wikimedia Foundation, and the Internet Archive.</span></p>

  <p class="c15 c1"></p>

  <p class="c1"><span class="c6">Here are some highlights from our recent projects:</span></p>

  <p class="c15 c1"></p>

  <ol class="c11" start="1">
      <li class="c4 c1"><span class="c6">Four Kitchen collaborated with the</span><span class="c6"><a class="c5" href="http://icann.org/">&nbsp;</a></span><span class="c9 c6"><a class="c5" href="http://icann.org/">Internet Corporation for Assigned Names and Numbers</a></span><span class="c9 c6">&nbsp;</span><span class="c6">to relaunch in early 2012, transforming their original, static collection of pages into a multilingual, responsive Drupal 7 website. This involved a massive migration from static files to multilingual Drupal 7 nodes with 0% link rot, as well as a fully responsive design.</span></li>

      <li class="c4 c1"><span class="c6">During the uprising against Egyptian President Mubarak, Al Jazeera provided perhaps the best news coverage of the events. As a result, traffic to their website increased dramatically, nearly shutting it down several times over the span of a few days. We were called in to ensure the site remained live so that news from Egypt could reach an international audience. Thanks to the all-night efforts of Four Kitchens&#39; web chefs, the Al Jazeera English website was able to handle the traffic and continue delivering the dramatic news coverage worldwide.</span></li>

      <li class="c4 c1"><span class="c6">Four Kitchens&#39; web chefs have been an integrated part of</span> <span class="c3">The Economist</span><span class="c6">&nbsp;online team since 2008, replacing fragile, hard-to-maintain legacy systems with modern content-management and development workflows. We have worked on all aspects of the site, from infrastructure design to code reviews. This large project has involved migrating their 80,000-article archive, 497,000 comments, and 3,600,000 users from a custom, Cold Fusion-based CMS; developing a custom homepage creation tool and a dynamic, scalable topics aggregation system; and third-party vendor integration including newsletter management and search features.</span></li>

      <li class="c4 c1"><span class="c6">We created the contribution processing and tracking systems for the Wikimedia Foundation, the parent organization of Wikipedia. During fundraisers, every page of every Wikimedia project prominently links to this system. Wikimedia&#39;s infrastructure currently serves 100,000 requests per second, and a significant number of visitors click on the fundraising banners to view or make donations.</span></li>

      <li class="c4 c1"><span class="c6">We have created custom, responsive designs for two recent internal projects: The site for</span><span class="c6"><a class="c5" href="http://drupalcampaustin.org/">&nbsp;</a></span><span class="c9 c6"><a class="c5" href="http://drupalcampaustin.org/">DrupalCamp Austin</a></span><span class="c6">, the annual Drupal event we organize, and the community site for</span><span class="c6"><a class="c5" href="http://pressflow.org/">&nbsp;</a></span><span class="c9 c6"><a class="c5" href="http://pressflow.org/">Pressflow</a></span><span class="c6">, a distribution of Drupal created by Four Kitchens that features enhanced performance, scalability, availability, and testing.</span></li>

      <li class="c4 c1"><span class="c6">We provide infrastructure consulting to the Internet Archive on their central metadata system, which stores attributes and access statistics for all items in their massive, multi-datacenter archives. We also contribute to the Open Library project, which tracks data on most books published (and aims to track data on every book published, ever).</span></li>
  </ol>
</div>
