<div class="box headline">
  <h2>Hi, Harvard!</h2>
</div>
<div class="box">
  <h3>What is this thing?</h3>

  <p><b>We're really good at figuring out new stuff.</b> We wanted to deliver a highly accurate proposal, so we thought it would be important (and fun!) to build a prototype to demonstrate the swipe interaction and local storage required for the <i>Harvard Magazine</i> project.</p>
  <p>This site won't look right on a desktop, and you might encounter a bug or two, but that's because this is just a prototype.</p>
  <p><b>Enjoy!</b></p>
</div>
<img class="swipe" src="/assets/images/swipe.svg" />
