<div class="box headline">
  <h2 class="c1"><a id="h.7n63412o8std"></a><span>Let&rsquo;s cut to the chase</span></h2>
</div>
<div class="box">
  <p class="c1"><span class="c6">We know you&rsquo;re reading a lot of these, and judging by the heft of our own proposal, it&rsquo;s not an easy job. So to make this process easier for you, we&rsquo;d like to pare down the key facts into a</span> <span class="c6">couple of handy-dandy pages</span><span class="c6">.</span></p>

  <p class="c15 c1"></p>

  <p class="c1"><span class="c19 c17">Our vision:</span> <span class="c19 c17 c14">(vision headline)</span></p>

  <p class="c1"><span class="c14">(Vision paragraph)</span></p>

  <p class="c15 c1"></p>

  <p class="c1"><span class="c17 c6">We at Four Kitchens are very excited about this project!</span> <span class="c14 c6">(Paragraph about why we are excited.)</span></p>

  <p class="c15 c1"></p>

  <p class="c1"><span class="c6">We share your bold and ambitious vision for this project, and we hope to forge a long-term partnership in innovation with Harvard Magazine.</span></p>

  <p class="c15 c1"></p>

  <h3 class="c1"><a id="h.ov2eh28b8etz"></a><span>Cost</span></h3>

  <ol class="c11" start="1">
      <li class="c10 c1"><span class="c14">(Breakdown of cost by phase or by basic vs full-featured approach.)</span></li>
  </ol>

  <p class="c15 c1"></p>

  <p class="c1"><span class="c17 c6">We will work within your budget to deliver an excellent website that meets your most critical needs.</span></p>
</div>
