<div class="box headline">
  <h2 class="c1"><span>References</span></h2>
</div>
<div class="box">
  <p class="c1"><span class="c6">We will gladly furnish references if we are considered a finalist in the selection process for this proposal. Because we obtain permission each time we list a reference, we need to minimize the number of times we release their names and personal contact information.</span></p>

  <h2 class="c1"><span class="c6">Please understand that this policy is in place because we highly value our clients&#39; and colleagues&#39; time and privacy.</span></h2>
</div>
