<div class="box headline">
  <h2 class="c1"><a id="h.5ndrmdn1u9w"></a><span>Project scope</span></h2>
</div>
<div class="box">
  <p class="c1"><span class="c14 c6">(Introductory paragraph that includes assumptions made and any dependencies that would affect the recommended approach.)</span></p>

  <p class="c15 c1"></p>

  <p class="c1"><span class="c14">(Breakdown of scope by component/key functionality. Each component can consist of several sub-categories. The purpose of these paragraphs is to communicate we understand their needs, have experience in meeting them, and sharing HOW we will approach doing so.)</span></p>
</div>
