<div class="box headline">
  <h2 class="c1"><span>Time and cost estimates</span></h2>
</div>
<div class="box">
  <p class="c1"><span class="c6">Below, we have divided time and cost estimates for each line item into &quot;low&quot; and &quot;high.&quot; (</span><span class="c14 c6">Low estimates reflect XYX. High estimates reflect 123.)</span><span class="c6">&nbsp;</span><span class="c3 c14">The more we can leverage existing functionality, reduce overhead, and empower your team to make decisions, the less money you will spend.</span></p>
</div>
<div class="box">
  <h3 class="c1"><span>Time estimates</span></h3>

  <h4 class="c1"><span>Phase 0: (title)</span></h4>

  <p class="c1"><span class="c6">See the Google Spreadsheet</span></p>

  <h4 class="c1"><span>Phase 1: (title)</span></h4>

  <p class="c1"><span class="c6">See the Google Spreadsheet.</span></p>

  <h4 class="c1"><span>Phase 2: (title)</span></h4>

  <p class="c1"><span class="c6">See the Google Spreadsheet</span></p>

  <h4 class="c1"><span>Phase 3: (title)</span></h4>

  <p class="c1"><span class="c6">See the Google Spreadsheet</span></p>

  <h4 class="c1"><span>Phase 4: (title)</span></h4>

  <p class="c1"><span class="c6">See the Google Spreadsheet</span></p>

  <h4 class="c1"><span>Project total</span></h4>

  <p class="c1"><span class="c6">See the Google Spreadsheet</span></p>

  <p class="c1 c15"></p>

  <h3 class="c1"><span>Cost estimates</span></h3>

  <p class="c1"><span class="c6">The estimates listed below include all planning, work, and communication necessary to complete the project as specified in this proposal. They are based solely on past experience and are likely to change based on what we learn during the discovery phase.</span> <span class="c14 c6">(Note about any relevant estimate assumptions/CYA.)</span></p>

  <p class="c15 c1"></p>

  <ol class="c11" start="1">
      <li class="c10 c1"><span class="c6">Total cost for</span> <span class="c14 c6">(functionality/phase: total dollar range)</span></li>

      <li class="c10 c1"><span class="c6">Total cost for</span> <span class="c14 c6">(functionality/phase: total dollar range)</span></li>
  </ol>

  <h3 class="c1"><span>Additional fees</span></h3>

  <p class="c1"><span class="c6">Four Kitchens will not require any additional or recurring fees.</span> <span class="c6">However, this project may require some third-party expenses that are not included in this estimate.</span><span class="c6">&nbsp;Examples include:</span></p>

  <p class="c15 c1"></p>

  <ol class="c11" start="1">
      <li class="c10 c1"><span class="c6">Travel expenses for on-site work.</span></li>

      <li class="c10 c1"><span class="c14 c6">Third-party software licensing fees. We generally use only open-source software such as Drupal that is free to use. However, we may recommend that Harvard Magazine use XYZ.</span></li>

      <li class="c10 c1"><span class="c6 c14">Hosting fees. These may include: XYZ</span></li>
  </ol>

  <h3 class="c1"><span>Travel and on-site work</span></h3>

  <p class="c1"><span class="c6">We are happy to travel and work on-site to</span> <span class="c6">train</span> <span class="c6">Harvard Magazine&rsquo;s team, expedite development, and streamline communication. We find on-site work to be highly productive and an excellent way to build rapport and a strong, long-term relationship with our clients.</span></p>

  <h2 class="c1"><span class="c6">The estimate above does not include travel-related expenses such as airfare, accommodations, and per diems. We are happy to provide estimates for travel-related expenses at Harvard Magazine&rsquo;s request.</span></h2>

  <h3 class="c1"><span>Rates and ongoing work</span></h3>

  <p class="c1"><span class="c6">We value long-term relationships with our clients and are happy to provide ongoing work on a time-and-materials basis. Our rate schedule is listed below:</span></p>

  <p class="c15 c1"></p>

  <ol class="c11" start="1">
      <li class="c4 c1"><span class="c6">$180.00 standard hourly fee for design, development, project management, and general consulting</span></li>

      <li class="c4 c1"><span class="c6">$220.00 standard hourly fee for performance, scalability, and systems architecture consulting</span></li>

      <li class="c4 c1"><span class="c6">$240.00 standard hourly fee for strategic consulting related to technical, design, marketing, community engagement, and social media strategy</span></li>

      <li class="c4 c1"><span class="c6">$90 travel hourly fee</span></li>
  </ol>
</div>
