<div class="box">
  <h2 class="c1"><a id="h.5q6g2f3qymhh"></a><span>Project vision</span></h2>
</div>
<div class="box">
  <p class="c1"><span class="c14">(Three-ish paragraphs of an expanded description of our vision for the project.)</span></p>

  <p class="c15 c1"></p>

  <p class="c1"><span class="c14">(A bulleted list that outlines the goals of the project/app.)</span></p>

  <p class="c15 c1"></p>

  <p class="c1"><span class="c17 c6">We at Four Kitchens are very excited about this project!</span> <span class="c14">(Extended version of paragraph about why we are excited about the project.)</span></p>

  <p class="c15 c1"></p>

  <p class="c1"><span class="c6">We share your bold and ambitious vision for this project, and we hope to forge a long-term partnership in innovation with Harvard Magazine.</span></p>
</div>
